<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272797436224-2btlos1ef79n3shbjagn7eps0b1rgki7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272797436224-2btlos1ef79n3shbjagn7eps0b1rgki7</string>
	<key>API_KEY</key>
	<string>AIzaSyAB8Ii16B8kOO7sZpse6tiIKso7qbON4bE</string>
	<key>GCM_SENDER_ID</key>
	<string>272797436224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colman.Hera</string>
	<key>PROJECT_ID</key>
	<string>hera-95326</string>
	<key>STORAGE_BUCKET</key>
	<string>hera-95326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272797436224:ios:785061dbf512e4ef8492a5</string>
	<key>DATABASE_URL</key>
	<string>https://hera-95326-default-rtdb.firebaseio.com</string>
</dict>
</plist>